[MASTER]
# Путь к директориям, которые нужно игнорировать
ignore=CVS

[BASIC]
# Стиль именования аргументов
argument-naming-style=snake_case
# Стиль именования функций
function-naming-style=snake_case
# Стиль именования классов
class-naming-style=PascalCase
# Стиль именования переменных
variable-naming-style=snake_case

# Плохие имена переменных, которые всегда должны быть отклонены
bad-names=foo, bar, baz, toto, tutu, tata

[FORMAT]
# Максимальная длина строки
max-line-length=100
# Разрешить тело класса на одной строке, если оно содержит одно выражение
single-line-class-stmt=no
# Разрешить тело if на одной строке, если нет else
single-line-if-stmt=no

# Автоматизация отступов и пробелов
indent-string='    '  # Используйте 4 пробела для отступов

[MESSAGES CONTROL]
# Отключить некоторые сообщения
disable=missing-docstring, invalid-name

[DESIGN]
# Максимальное количество аргументов для функции/метода
max-args=5
# Максимальное количество атрибутов для класса
max-attributes=7
# Максимальное количество публичных методов для класса
max-public-methods=20

[IMPORTS]
# Разрешить импортировать модули на любом уровне
allow-any-import-level=

[REPORTS]
# Уровень отчета
reports=no  # Отключить вывод отчетов
# Шаблон для отображения сообщений
msg-template={C}:{line:3}:{column}: {msg_id} ({symbol}) {msg}

[SPACING]
